body.dark-mode{
    background:#121212;
    color:white;
}

/* Navigation */

body.dark-mode .navbar{
    background:#1e1e1e;
}

/* Panels */

body.dark-mode .banner,
body.dark-mode .carousel-section,
body.dark-mode .category-box,
body.dark-mode .event-detail,
body.dark-mode .form-container,
body.dark-mode .profile-container,
body.dark-mode .event-panel,
body.dark-mode .action-panel{
    background:#222;
    color:white;
}



body.dark-mode,
body.dark-mode .event-item,
body.dark-mode .image-box,
body.dark-mode .image-placeholder,
body.dark-mode .upload-box,
body.dark-mode .category-item,
body.dark-mode .status-column{
    background:#333;
    color:white;
}



body.dark-mode input,
body.dark-mode textarea,
body.dark-mode select{
    background:#444;
    color:white;
    border:none;
}

/* Drop down */

body.dark-mode .dropdown-menu{
    background:#2d2d2d;
}

body.dark-mode .dropdown-menu button{
    background:#444;
    color:white;
}



body.dark-mode .profile-btn{
    background:#444;
}

body.dark-mode .interested-btn,
body.dark-mode .submit-btn,
body.dark-mode .update-btn,
body.dark-mode .approve-btn,
body.dark-mode .back-btn{
    background:#666;
    color:white;
}

/* Calendar */

body.dark-mode .calendar-section{
    background:#222;
    color:white;
}

body.dark-mode .day-cell{
    background:#333;
    color:white;
}

body.dark-mode .day-header{
    color:white;
}
body.dark-mode .day-header.sunday{
    color:#ff6b6b;
}

body.dark-mode .legend{
    background:#222;
    color:white;
}
